/* static/css/style.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #1a1a1a;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

h1 {
    font-size: 3em;
    margin-top: 50px;
    color: #d39783;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    animation: glow 1.5s ease-in-out infinite alternate;
}

form {
    margin-top: 50px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
    width: 40%;
    margin: 0 auto;
}

label {
    font-size: 1.2em;
    color: #bd431b;
}

input[type="text"], input[type="date"] {
    padding: 10px;
    margin: 10px 0;
    width: 80%;
    border: 1px solid #bd431b;
    border-radius: 5px;
    background-color: #333;
    color: white;
}

button {
    background-color: #bd431b;
    color: #1a1a1a;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

button:hover {
    background-color: #f4b400;
}

.snowflakes {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 9999;
}

.snowflake {
    position: absolute;
    top: -50px;
    font-size: 2em;
    opacity: 0.8;
    animation: snow 10s linear infinite;
}

@keyframes snow {
    0% {
        transform: translateX(0) translateY(-50px);
        opacity: 0.8;
    }
    100% {
        transform: translateX(300px) translateY(100vh);
        opacity: 0;
    }
}

@keyframes glow {
    0% {
        text-shadow: 0 0 10px #bd431b, 0 0 20px #bd431b, 0 0 30px #bd431b;
    }
    100% {
        text-shadow: 0 0 30px #bd431b, 0 0 60px #bd431b, 0 0 90px #bd431b;
    }
}

.spot-list {
    list-style-type: none;
    padding: 0;
}

.spot-list li {
    font-size: 1.5em;
    margin: 15px 0;
    color: #bd431b;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

a {
    display: inline-block;
    margin-top: 30px;
    padding: 10px 20px;
    background-color: #bd431b;
    color: #1a1a1a;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

a:hover {
    background-color: #f4b400;
}
